.features-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    align-items: flex-start; /* align items to the start to prevent stretching */
  }

  .feature-card {
    width: 150px;
    height: 200px;
    margin: 10Spx;
    perspective: 1500px;
    box-sizing: border-box;
    transform: translateZ(0) scale(1.05); /* Slightly scale the card for a 3D effect */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Apply shadow for depth */
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out; /* Smooth transition for an enhanced effect */
  }
  
  .feature-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform-origin: center center;
  }
  
  .feature-card.flipped .feature-card-inner {
    transform: rotateY(180deg);
  }
  
  .card-face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .card-front, .card-back {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .card-front {
    background-color: #1D68A2;
  
  }
  
  .card-back {
    background-color: #29B25C;
    color: #192753;
    transform: rotateY(180deg);
  }
  
  .feature-title, .feature-description {
    user-select: none;
  }

  .feature-card:active {
    transform: translateZ(0) scale(1); /* Slightly reduce the scale for a press-down effect */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Reduce shadow for a "pressed" effect */
  }

  